<!--<div class="container">-->
  <!--<h3>Upload image</h3>-->

  <!--<h1>Image upload</h1>-->
  <!--<input type="file"-->
         <!--style="display: none"-->
         <!--(change)="onFileSelected($event)"-->
         <!--#fileInput-->
         <!--name="image">-->
  <!--<button class="btn btn-primary" type="button" (click)="fileInput.click()">Pick File</button>-->
  <!--<button class="btn btn-danger" type="button" (click)="onUpload()">Upload</button>-->

<!--</div>-->
<app-header></app-header>
<div class="container">
  <router-outlet></router-outlet>
</div>
